@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
html{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
.gridStuff{
    display: grid;
    grid-template-areas: "nav body body"
                         "nav body body"
                         "foot foot foot";
    grid-template-columns: 0.9fr 2fr  2fr;
    grid-template-rows: repeat(1fr, 3);
    /* column-gap: 20px; */
}
nav{
    grid-area: nav;
    width: 0;
}
.body{
    grid-area: body;
}
footer{
    grid-area: foot;
}
